name: Test cache

on:
    push:
    pull_request:

jobs:
    make_books:
        runs-on: macOS-latest
        steps:
            - uses: actions/checkout@v2
            - name: Platform check
              run: |
                uname -a
                echo $SHELL
                bash --version
                ls -l /
                ls -l /opt
                echo /opt/pdflabs/pdftk/bin >> $GITHUB_PATH
            - name: Dependencies cache check
              uses: actions/cache@v2.1.4
              id: dependency-cache
              with:
                path: deps.tgz
                key: dependency-cache-${{ hashFiles('cache-list.txt', '.github/workflows/make_deps.yml') }}
            - name: Install deps
              if: steps.dependency-cache.outputs.cache-hit == 'true'
              run: |
                sudo tar -C / -vxzf deps.tgz
                perl -le 'print join "\n", glob(shift)' '/usr/local/texlive/*/bin/universal-darwin' >> $GITHUB_PATH
            - name: Setup Pandoc
              if: steps.dependency-cache.outputs.cache-hit != 'true'
              run: |
                brew install pandoc
                which pandoc
                pandoc --version
            - name: Check Pandoc
              run: |
                brew link pandoc
                which pandoc
                pandoc --version
            - name: Setup PDFtk
              if: steps.dependency-cache.outputs.cache-hit != 'true'
              run: |
                curl -O -L --silent https://www.pdflabs.com/tools/pdftk-the-pdf-toolkit/pdftk_server-2.02-mac_osx-10.11-setup.pkg
                sudo mkdir -p /usr/local/pdftk
                sudo installer -pkg pdftk_server-2.02-mac_osx-10.11-setup.pkg -target /
                which pdftk
                pdftk --version
            - name: Check PDFtk
              run: |
                echo $PATH
                which pdftk
            - name: Setup Kindle
              if: steps.dependency-cache.outputs.cache-hit != 'true'
              run: |
                curl -O --silent https://s3.amazonaws.com/kindlepreviewer3/KindlePreviewerInstaller.pkg
                sudo installer -pkg KindlePreviewerInstaller.pkg -target /
                which kindlepreviewer
            - name: Check Kindle
              run: |
               echo $PATH
               which kindlepreviewer
               kindlepreviewer --version
            - name: Setup LaTeX
              if: steps.dependency-cache.outputs.cache-hit != 'true'
              run: |
                curl -O -L --silent http://mirror.ctan.org/systems/mac/mactex/MacTeX.pkg
                sudo installer -pkg MacTeX.pkg -target /
                perl -le 'print join "\n", glob(shift)' '/usr/local/texlive/*/bin/universal-darwin' >> $GITHUB_PATH
                sudo rm -rf /usr/local/texlive/*/texmf-dist/doc
                sudo rm -rf /usr/local/texlive/*/texmf-dist/fonts
            - name: Check LaTeX
              run: |
                echo $PATH
                lualatex --version
            - name: Make tarball
              if: steps.dependency-cache.outputs.cache-hit != 'true'
              run: |
                tar -cvzf deps.tgz -C / -T cache-list.txt
